.App {
  background-color: teal;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.row {
  margin-bottom: 10px !important;
}

.form-data{
  border-color: gray;
  border-block-style: double;
  padding: 15px;
  background-color: #323234;
  color: #7c8187;
}

.form-control{
  background-color: #212529 !important;
  color: #8a9198 !important;
}

.form-control::placeholder {
  color:  #8a9198 !important;
  opacity: 1; /* Firefox */
}